{%  extends 'template.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">LogIn</a>
            </li>
            
            <!-- adding payment -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/pay">Pay</a>
            </li> -->

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <h1 style="text-align:center;padding-top:20px; color: blueviolet;" > <i> <u> Euphoria</u>  </i>: A Health Care Platform </h1>
    <p style="text-align:center;"><img src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?w=996&t=st=1669639203~exp=1669639803~hmac=ac139c60f8ec55a573420a91a79fcf084935c5eb51d5218ffd152f326188e054" alt="Logo" style = "height: 450px;"></p>
{% endblock content %}
