{%  extends 'template.html' %}
{% load widget_tweaks %}
{%  block content %}
    <div  style="max-width: 95%; width: 750px" class="mx-auto">
        <h2 style="margin-top:20px">Register As Org</h2>
        <div style="max-width: 95%; width: 750px" class="mx-auto">
            <form action="{% url 'register_org' %}" enctype="multipart/form-data" method="POST" novalidate>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <span style="color:red">{{ error }}</span>
                                {% endfor %}
                {% endfor %}
                <input type="submit" value="Register" class="btn btn-block btn-primary">
                    </div>
            </form>
        </div>
    </div>
{%  endblock content %}